<%- include("template/head") %>
<%- include("template/sidebar") %>
<div class="container bg-dark text-light" style="margin-left: 60px;">
    <div class="border border-light p-4">
      <img src="../assets/banner-covid-19.jpg" class="img-fluid">
      <br>
      <br>
      <div class="d-inline-block fs-5 "">
        <h3 class="fw-bold">¿Que es?</h3>
        
        <p> Como ya se sabe, el coronavirus SARS-Cov-2 es un virus que apareció en China. Después se extendió a todos los continentes del mundo provocando una pandemia. Actualmente Europa y América son los más afectados.

            Este nuevo virus, provoca la enfermedad conocida con el nombre de COVID-19.</p>
    </div>
    </div>
   
  </div>
<%- include("template/footer") %>