<%- include("template/head", {tituloweb: "pagina de Inicio"}) %>
<%- include("template/sidebar") %>

<div class="container bg-dark text-light" style="margin-left: 60px;">
    <div class="row">
        <div class="col">
            <form id="frmNuevoRegistro" class="border border-light p-4"  style="min-height: 80vh;">
                <button class="btn float-end text-light" onclick="dividirRegistros()"><i class='bx bx-windows'></i></button>
                <div class="col">
                    <p class="h3 mb-4 text-center">Registros</p>
                    <table class="table w-100">
                        <thead class="text-center">
                            <tr>
                                <th class="text-light">Fecha de creacion</th>
                                <th class="text-light">Hora de creacion</th>
                                <th class="text-light">Nombres</th>
                                <th class="text-light">Apellidos</th>
                                <th class="text-light">Orden</th>
                                <th class="text-light">Total</th>
                                <th class="text-light">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="registros">

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("template/footer") %>