</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OneSelect</title>
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css.map">
    <!-- Boxiocns CDN Link -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/boxicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head><body class="container bg-dark text-light">
  <nav style="-webkit-app-region: drag;">

  </nav>
  <div class="sidebar close">
    <div class="logo-details">
      <img src="../assets/Logo_OneSelect_Oscuro.png" id="logo_btn">
      <span class="logo_name">OneSelect</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/" id="XD">
            <i class='bx bx-home-alt' id="ind"></i>
            <span class="link_name">Inicio</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Inicio</a></li>
          </ul>
        </li>
        <li>
          <a href="/registros">
            <i class='bx bx-receipt' id="reg"></i>
            <span class="link_name">Registros</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Registros</a></li>
          </ul>
        </li>
        <li>
          <a href="/covid">
            <i class='bx bx-heart' id="cov"></i>       
            <span class="link_name">Covid-19</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Covid-19</a></li>
          </ul>
        </li>
        <li>
          <a href="/acerca-de">
            <i class='bx bx-info-circle' id="ace"></i>
            <span class="link_name">Acerca de</span> 
          </a>
          <ul class="sub-menu blank"">
            <li><a class="link_name">Acerca de</a></li>
          </ul>
        </li>
        <li>
        <li>
          <a href="/productos">
            <i class='bx bx-food-menu' id="pro"></i>
            <span class="link_name">Agregar</span> 
          </a>
          <ul class="sub-menu blank"">
             <li><a class="link_name">Agregar</a></li>
          </ul>
        </li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profileImg">-->
        </div>
        <div class="sn-version">
          <div class="school_name">CBTis 8</div>
          <div class="version">Version <%= version  %></div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
      </div>